@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-y-180{
    transform: rotateY(180deg);
  }

  .preserve-3d{
    transform-style: preserve-3d;
  }
}

@layer components{
  .flashcard-container{
    transition: transform 0.8s;
    @apply preserve-3d;
  }

  /* .flashcard-wrapper:hover .flashcard-container{
    @apply rotate-y-180
  } */

  .flashcard-question{
    @apply absolute left-0 end-0;
    backface-visibility: hidden

  }

  .flashcard-answer{
    @apply absolute rotate-y-180;
    backface-visibility: hidden;
  }

}